<div class="clear mt30"></div>

<!-- Footer -->
<div id="footer">
  <div class="wrapper">

    <div>Bản quyền © 2012-2016 Tran Huy Tiep</div>
  </div>
</div>
</div>
<div class="clear"></div>
</body>
</html>