<meta charset="UTF-8">
<title>Dang Ky</title>
<link rel="shortcut icon" href="/logo-icon.png">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../javascripts/bootstrap/css/bootstrap-theme.min.css">
<script src="../javascripts/jquery.min.js"></script>
<script src="../javascripts/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="../javascripts/bootstrap/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="../javascripts/font-awesome/css/font-awesome.min.css">

<script src="/javascripts/side/home.js"></script>
<link  rel="stylesheet" href="/stylesheets/side/footer.css" ></link>
<link  rel="stylesheet" href="/stylesheets/side/header.css" ></link>
<link rel="stylesheet" href="/javascripts/bootrap-form-helper/css/bootstrap-formhelpers.min.css"></link>
