<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <% include ../header.ejs%>
    <link rel="stylesheet" href="/stylesheets/side/user/dangky.css">
    <script src="/javascripts/jquery.validate.min.js"></script>
</head>
<body>
<% include ../menu.ejs%>

<div class="">
  <div class="container banner" >
    <div class="col-lg-6 image">
      <h2>
        <a type="button" href="#">Certicom Products and Services</a>
      </h2>
    </div>
  </div>
  <div class="container crumbs-wrapper " >
    <div class="col-lg-10">
      <a type="button" href="#">Home  >  Products  >  Certicom's Managed PKI Service  >  Certicom Device Certification Authority For Zigbee Smart Energy</a>
    </div>
  </div>
</div>

<div class="container body" style="padding: 5px">
  <div class="row Creation">
    <h2 style="margin: 15px">Account Creation</h2>
    <h6 style="margin: 15px">
      <i><i style="color: red">*</i> Items in <strong>bold</strong> are required fields.</i>
    </h6>
    <form action="" method="post" id="form-post" >
      <div class=" row form-row" style="margin: 0px" >
        <div class="form-group col-md-6" >
          <label for="inputEmail">Email Address (this will be your Email Address)</label>
          <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
        </div>
        <div class="form-group col-md-6" >
          <label for="inputPhone">Phone</label>
          <input type="text" name="phone"  class=" form-control input-medium bfh-phone"  id="inputPhone"  data-format="+84 (ddd) ddd-dddd" data-country="US">
        </div>
      </div>
      <div class=" row form-row" style="margin: 0px">
        <div class="form-group col-md-6">
          <label for="inputPassword">Password</label>
          <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword1">Verify Password</label>
          <input type="password" name="passwordVeri" class="form-control" id="inputPassword1" placeholder="Password">
        </div>
        <div class="form-group col-md-12" style="margin-bottom: 0px">
          <h6 style="color: #0a0a0a;margin-top: 0px">
            <i>Mật khẩu tối thiểu 8 ký tự,1 chữ cái hoa,1 chữ cái thường,1 chữ số.</i>
          </h6>
        </div>
      </div>
      <div class=" row form-row" style="margin: 0px">
        <div class="form-group col-lg-6">
          <label for="inputFirstName">First Name</label>
          <input type="text" name="firstName" class="form-control" id="inputFirstName" placeholder="First Name">
        </div>
        <div class="form-group col-md-6">
          <label for="inputLastName">Last Name</label>
          <input type="text" name="lastName" class="form-control" id="inputLastName" placeholder="Last Name">
        </div>
      </div>

      <div class="row form-row" style="margin-bottom: 0px;margin-top: 0px;">
        <div class="form-group col-md-6" style="padding-left: 5px;margin-bottom: 0px">
          <label for="inputEmail">Address</label>
        </div>
        <div class="form-group col-md-6" style="margin-bottom: 0px">
          <label for="inputEmail">Address</label>
        </div>
      </div>

      <div id="countries_states2" class=" form-group col-md-6 bfh-selectbox bfh-countries" data-name="country" data-country="VN" data-flags="true">
        <input type="hidden" name="country" value="" >
        <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#"> <span class="bfh-selectbox-option input-medium" data-option=""></span> <b class="caret"></b> </a>
        <div class="bfh-selectbox-options" style="margin: 15px">
          <div role="listbox">
            <ul role="option" > </ul>
          </div>
        </div>
      </div>
      <div class=" form-group col-md-6 bfh-selectbox bfh-states" data-name="states" data-country="countries_states2">
        <input type="hidden" name="states" value="" >
        <a class="bfh-selectbox-toggle" role="button" data-toggle="bfh-selectbox" href="#"> <span class="bfh-selectbox-option input-medium" data-option=""></span> <b class="caret"></b> </a>
        <div class="bfh-selectbox-options" >
          <div role="listbox">
            <ul role="option" > </ul>
          </div>
        </div>
      </div>

      <div class="form-group col-lg-6">
        <label for="inputCompany" style="font-weight: 500">Company</label>
        <input type="text" name="company" class="form-control" id="inputCompany" placeholder="Company">
      </div>
      <div class="form-group col-md-6">
        <label for="inputWeb" style="font-weight: 500">Web Address</label>
        <input type="text" name="webAddress" class="form-control" id="inputWeb" placeholder="Web Address">
      </div>
      <div class="row form-row" style="margin-bottom: 0px">
        <div class="form-group license-agree " style="padding-left: 5px">
          <h3>License Agreement</h3>
          <p>ZIGBEE SMART ENERGY TEST CERTIFICATE AGREEMENT<br>For the ZigBee Smart Energy Profile</p>
          <p>IMPORTANT! Carefully read this Test Certificate Authorization Agreement (the "Agreement") as set out below. If you accept these terms and conditions, please tick "I have read and accept the terms of the agreement" in the box below. That action is the equivalent of your signature and indicates you have read this Agreement, understand and accept all the terms and conditions and that you intend to be legally bound by them.</p>
          <p>If you do not agree with the terms of this Agreement, please click on the "cancel" button below to exit this web page and do not download or run the Software or use any Certificates.</p>
          <p>THIS CERTICOM ZIGBEE TEST CERTIFICATE AGREEMENT (the "Agreement") is a legal agreement between the entity for whose benefit you act ("Subscriber") and Certicom Corp., a Canadian corporation having an address at 4701 Tahoe Blvd., Building A, Mississauga, Ontario L4W 0B5 ("Certicom"). By clicking on the appropriate button, or by using any Test Certificates, you are indicating that Subscriber is agreeing to be bound by the provisions of this Agreement. If you are not authorized to agree to this Agreement on Subscriber's behalf, Subscriber has no right to use any Test Certificates. This Agreement shall become effective as of the date on which Subscriber agrees to be bound by the provisions of this Agreement, as described in the foregoing ("Effective Date").</p>
          <p>WHEREAS:
            <br>
          </p>
          <ol type="a">
            <li>Subscriber is a manufacturer and distributor of Devices, or provides engineering or other services in connection with the design and manufacture of Devices; and</li>
            <li>Certicom is a developer, owner and distributor of technologies and solutions including certain technology related to the ZigBee Smart Energy Profile (including without limitation proprietary elliptical curve cryptography technology); and</li>
            <li>Certicom maintains and operates the Certicom Test CA  for issuing Test Certificates. Test Certificates are digital certificates that allow for Subscriber to test its Devices prior to or as part of being certified as compliant with the ZigBee Smart Energy Profile.</li>
            <li>Certicom and Subscriber desire that Certicom grant to Subscriber, and Subscriber obtains, the limited right to obtain and embed Test Certificates in Devices solely for test purposes and solely in accordance with the terms and conditions of this Agreement.</li>
          </ol>
          <ul>
            <li>1.0	Definitions in this Agreement (and where the context so admits the singular shall include the plural and vice versa), the following terms shall have the meanings set forth below:
              <ul>
                <li>1.1. "Device" means any product which implements the ZigBee Smart Energy Profile and which includes a ZigBee radio used as a primary means of communication with other devices containing a ZigBee radio.</li>
                <li>1.2. "Test Certificate" means those ECQV or ECDSA device digital certificates as described in the applicable ZigBee Smart Energy Profile specifications and that are issued by Certicom for no fee for purposes of testing.</li>
                <li>1.3. "Certicom Test CA" means the Certicom branded certification authority which issues Test Certificates for test purposes.</li>
                <li>1.4. "ZigBee Smart Energy Profile" means the ZigBee Smart Energy Profile 0x109 Revisions 14 and 15 specifications and any other certificate specifications that are agreed to in writing between Certicom and the ZigBee Alliance.</li>
                <li>1.5. "ZigBee Alliance" means the non-profit mutual benefit corporation of that name organized under the laws of the State of California.</li>
                <li>1.6. "ZigBee PKI" means the public key infrastructure operated by the ZigBee Alliance for the use of digital certificates within Devices.</li>
              </ul>
            </li>
            <li>2.0	Test Certificate Authorization
              <ul>
                <li>2.1. Upon Subscriber's agreeing to be bound by the provisions of this Agreement, as described above, and verification of Subscriber's identity for security purposes to Certicom's satisfaction, to be determined in Certicom's sole discretion, Certicom hereby authorizes Subscriber to apply for Test Certificates. CERTICOM SHALL IN ITS SOLE DISCRETION BE ENTITLED TO ACCEPT OR REJECT ANY TEST CERTIFICATE APPLICATION. Subscriber shall only supply true, accurate, current and complete information to Certicom. Provided that this Agreement has not been terminated, Certicom shall issue Test Certificates to Subscriber pursuant to the terms hereunder.</li>
              </ul>
            </li>
            <li>3.0	Use of Test Certificates and Request/Receipt of Certificates
              <ul>
                <li>3.1. Embedding of Test Certificates. Subject to the provisions of this Agreement, Certicom hereby grants to Subscriber the non-exclusive right to embed Test Certificates into Devices, solely for the limited purposes of testing and certifying a Device, and solely in a test environment.</li>
                <li>3.2. Subscriber shall not: (i) distribute, license, sell, rent, disclose, reproduce, transfer, or otherwise provide the Device with the Test Certificate to any third party for any purpose except as part of the testing permitted under and in accordance with section 2 above; (ii) use or permit the use of the Device with the Test Certificate for any commercial or revenue-generating purposes, either directly or indirectly; or (iii) use or permit the use of the Device with the Test Certificate in any operational environment, including without limitation for the purposes of securing valuable or commercially sensitive data.</li>
                <li>3.3. No Other Rights. Except for the limited license granted to Subscriber under Section 3.1, Certicom retains all right, title, and interest in and to the Test Certificates and Certicom root certificates and all associated intellectual property rights and all proprietary information associated therewith that is provided by Certicom to Subscriber hereunder. Certicom grants no rights in any trademark, trade name, service mark, business name or goodwill of Certicom.</li>
              </ul>
            </li>
            <li>4.0	Term and Termination
              <ul>
                <li>4.1. This Agreement shall be effective for a period of ninety (90) days commencing on the Effective Date (the "Term"). Certicom hereby reserves the right and sole discretion to curtail or extend the duration of the Term, but, unless Subscriber is in breach of this Agreement, Certicom will use commercially reasonable efforts to provide Subscriber with prior written notice of any change to the duration, if feasible. In addition, Certicom may terminate this Agreement at any time for material breach of this Agreement by Subscriber, upon notice to Subscriber. Unless Certicom agrees in writing otherwise, on the expiration or termination of the Term, Subscriber shall immediately cease using the Test Certificates and destroy all Test Certificates in its possession and control.</li>
              </ul>
            </li>
            <li>5.0	No Warranty. Limitation of Liability
              <ul>
                <li>5.1	Disclaimer of Warranties. USE OF THE TEST CERTIFICATES PROVIDED HEREUNDER ARE PROVIDED "AS IS" AND CERTICOM DISCLAIMS ALL CONDITIONS, REPRESENTATIONS AND WARRANTIES, INCLUDING WITHOUT LIMITATION ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, QUIET ENJOYMENT, ACCURACY, SECURITY, OR NON-INFRINGEMENT. THE ENTIRE RISK OF THE USE OF THE TEST CERTIFICATES OR ANY SERVICES PROVIDED IN RESPECT THEREOF SHALL BE BORNE SOLELY BY SUBSCRIBER. Some jurisdictions may not allow the exclusion or limitation of implied warranties and conditions. To the extent permitted by law, any implied warranties or conditions to the extent they cannot be excluded as set out above are limited to the duration of the Term. This paragraph sets out Subscriber's sole remedies in respect of any breach of any implied warranties or conditions.</li>
                <li>5.2	Limitation of Liability. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW IN SUBSCRIBER'S JURISDICTION, IN NO EVENT SHALL CERTICOM, ITS AFFILIATES, OR ANY DIRECTOR, EMPLOYEE, AGENT, DISTRIBUTOR, SUPPLIER, OR INDEPENDENT CONTRACTOR OF CERTICOM OR OF ANY CERTICOM AFFILIATES, BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, DIRECT, CONSEQUENTIAL, EXEMPLARY, INCIDENTAL, INDIRECT, SPECIAL, OR PUNITIVE DAMAGES, DAMAGES FOR LOSS OF BUSINESS, PROFITS OR REVENUES, BUSINESS INTERRUPTION, LOSS OF BUSINESS INFORMATION OR CORRUPTION OR LOSS OF DATA, COST OF SUBSTITUTE GOODS, FACILITIES, OR SERVICES, COST OF CAPITAL, OR OTHER PECUNIARY LOSS) ARISING OUT OF OR RELATED TO THIS AGREEMENT, WHETHER OR NOT SUCH DAMAGES WERE FORESEEN OR UNFORESEEN, INCLUDING, WITHOUT LIMITATION, THE USE OF OR INABILITY TO USE THE TEST CERTIFICATES, EVEN IF CERTICOM HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CERTICOM SHALL BE LIABLE TO SUBSCRIBER AS EXPRESSLY PROVIDED IN THIS AGREEMENT AND, TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW IN SUBSCRIBER'S JURISDICTION, THE LIMITATIONS, EXCLUSIONS AND DISCLAIMERS IN THIS AGREEMENT SHALL APPLY IRRESPECTIVE OF THE NATURE OF THE CAUSE OF ACTION, DEMAND OR ACTION, INCLUDING, BUT NOT LIMITED TO, BREACH OF CONTRACT, NEGLIGENCE, TORT, STRICT LIABILITY OR ANY OTHER LEGAL THEORY, AND SHALL SURVIVE A FUNDAMENTAL BREACH OR BREACHES OR THE FAILURE OF THE ESSENTIAL PURPOSE OF THIS AGREEMENT OR OF ANY REMEDY CONTAINED HEREIN.  THE DISCLAIMERS, EXCLUSIONS AND LIMITATIONS SET FORTH IN THIS AGREEMENT CONSTITUTE AN ESSENTIAL ELEMENT OF THE AGREEMENT BETWEEN THE PARTIES.  IN THE ABSENCE OF SUCH DISCLAIMERS, EXCLUSIONS AND LIMITATIONS:  (I) THE OTHER TERMS OF THIS AGREEMENT WOULD BE SUBSTANTIALLY DIFFERENT; AND (II) CERTICOM'S ABILITY TO OFFER, AND SUBSCRIBER'S ABILITY TO ACQUIRE, THE TEST CERTIFICATES UNDER THIS AGREEMENT WOULD BE DIFFERENT.</li>
              </ul>
            </li>
            <li>6.0	General
              <ul>
                <li>6.1. Notices. Any notices, required or permitted to be made or given to either party pursuant to this Agreement shall be in writing and shall be delivered, in the case of Certicom, to the address set forth on the first page, or in the case of Subscriber, to the address provided at the time of registering with Certicom to receive Test Certificates. Notices shall be effective as of the time of their delivery.</li>
                <li>6.2. Export. Subscriber acknowledges that the Test Certificates include encryption technology that may be subject to export, import, and/or use controls by Government Authorities (as hereinafter defined) by way of law or regulation. Subscriber agrees that the Test Certificates will not be exported, imported, used, transferred, or re-exported except in compliance with the laws and regulations of the national and/or other (sub-national and/or supranational) government authorities with authority over the country(ies) and/or territory(ies) from which the Test Certificates are being exported or to which the Test Certificates are being imported (collectively, the "Government Authority(ies)"). Without limitation, the Test Certificates shall not be exported: (i) to any country on Canada's Area Control List; (ii) to any country subject to UN Security Council embargo or action; (iii) contrary to Canada's Export Control List Item 5505; (iv) to countries subject to U.S. economic sanctions and embargoes; and (v) to persons or entities prohibited from receiving U.S. exports or U.S.-origin items. Subscriber hereby represents that:  (1) to the best of  Subscriber's knowledge it is eligible to receive the Test Certificates under applicable law; (2) it will not use the Test Certificates in the development, production, handling, maintenance, storage, detection, identification or dissemination of chemical, biological or nuclear weapons or their missile delivery systems, or of materials or equipment that could be used in such weapons or their missile delivery systems, or resell or export to anyone or any entity involved in such activity; and (3) it will ensure that affiliates use the Test Certificates in accordance with the foregoing restrictions.</li>
                <li>6.3. Audit. Subscriber shall during term of this Agreement and for a period of one (1) year thereafter maintain all records reasonably related to this Agreement, including without limitation records pertaining to security, usage and distribution of the Test Certificates ("Records"). Certicom or its duly authorized representatives shall be permitted, upon reasonable notice, and subject to appropriate non-disclosure terms, to inspect such Records. Such inspections may be made notwithstanding termination of this Agreement while any outstanding claim remains unsettled in the view of either party.</li>
                <li>6.4. Irreparable Harm. Subscriber acknowledges and agrees that due to the unique and sensitive nature of the Test Certificates and their use as authorized hereunder, including any private keys therein, there can be no adequate remedy at law for breach of Subscriber's obligations hereunder, that such breach or unauthorized use or release of the Test Certificates will cause material damage and result in irreparable harm. Therefore, upon any such breach or any threat thereof, Certicom shall be entitled to appropriate equitable relief in addition to whatever remedies it might have at law.</li>
                <li>6.5. Amendments. No amendment or modification hereof shall be valid or binding upon the parties unless made in writing and signed by both parties hereto.</li>
                <li>6.6. Waiver. No party is to be deemed to have waived or forfeited any right under this Agreement, whether on the basis of failure, delay or any other legal or equitable doctrine, unless such waiver is made in writing signed by an authorized signatory of the party against whom the waiver is sought to be enforced.  Waiver of any provision, or any breach of any provision, of this Agreement in one instance shall not constitute a waiver as to any other instance.</li>
                <li>6.7. Survival. The terms, conditions and warranties contained in this Agreement that by their sense and context are intended to survive the performance hereof shall so survive the completion of performance or termination of this Agreement. Without limiting the generality of the foregoing, the provisions of Sections 1, 3.2, 3.3, 4, 5, 6 and 7 shall survive the termination or expiration of this Agreement.</li>
                <li>6.8. Assignment. Subscriber may not assign this Agreement without the express, prior written approval of Certicom, and any such purported assignment without Certicom's express, prior written approval shall be null and void and of no effect. Certicom may, without notice to Subscriber, assign this Agreement. Certicom may perform all obligations to be performed by Certicom under this Agreement directly or may have some or all obligations performed by its affiliates, agents and/or independent contractors. Subject to the foregoing, this Agreement shall inure to the benefit of and be binding upon the parties and their successors and assigns.</li>
                <li>6.9. Entire Agreement. This Agreement constitutes the entire agreement of the parties with respect to the subject matter hereof and there are no provisions, representations, warranties, undertakings, collateral agreements or agreements between the parties other than as set out in this Agreement. This Agreement supersedes any prior or contemporaneous understandings, communications, representations, warranties, undertakings, collateral agreements and agreements between the parties, whether oral or written, with respect to the subject matter hereof, and Subscriber acknowledges that it has not relied on any of the foregoing in agreeing to enter into this Agreement.</li>
                <li>6.10. Force Majeure. Notwithstanding any other provision, neither party is liable in any way including without limitation for damages or penalty for any failure or delay in performance hereunder which is proximately caused by strikes, shortages, failure of suppliers, riots, insurrection, fires, floods, storms, earthquakes, acts of God, war, governmental action, labour conditions, internet failure or other causes beyond its reasonable control.</li>
                <li>6.11. Severability. To the extent any provision or portion thereof of this Agreement is determined to be illegal, invalid or unenforceable by a competent authority in any jurisdiction, then such determination of that provision or portion thereof will not affect: (a) the legality, validity or enforceability of the remaining provisions of this Agreement; or (b) the legality, validity or enforceability of that provision in any other jurisdiction, and that provision (or portion thereof) will be limited if possible and only thereafter severed, if necessary, to the extent required to render the Agreement valid and enforceable.</li>
                <li>6.12. Governing Law. This Agreement shall be governed by, and construed in accordance with the laws of the State of New York. Each Party hereto consents to the jurisdiction of the courts of the State of New York and irrevocably waives any objection on the grounds of venue, forum non-conveniens or any similar grounds and irrevocably consents to service of process by mail or in any other manner permitted by applicable law.  The Parties further hereby waive any right to a trial by jury with respect to any lawsuit or judicial proceeding arising or relating to this Agreement.  The United Nations Convention on Contracts for the International Sale of Goods is inapplicable, and the Parties expressly disclaim its applicability.</li>
                <li>6.13. Dispute Resolution. The parties shall attempt in good faith to resolve any dispute relating to or arising from this Agreement. In the event the parties are unable to resolve the dispute, then the dispute shall be resolved by binding arbitration under the terms of this Section. Such arbitration shall be conducted in New York, NY, in accordance with the commercial arbitration rules of the American Arbitration Association then in effect, by a single arbitrator appointed in accordance with such rules. The award rendered by the arbitrator shall be final and binding, and judgment may be entered upon it in any court having jurisdiction thereof. Notwithstanding the foregoing, the parties may apply to any court of competent jurisdiction for a temporary restraining order, preliminary injunction, or other interim or conservatory relief, as necessary, without breach of this arbitration agreement and without any abridgment of the powers of the arbitrator.</li>
              </ul>
            </li>
          </ul>
        </div>
      </div>

      <div class="form-group col-md-6">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" name="gridCheck">
          <label class="form-check-label" for="gridCheck">
            I have read and accept the terms of the agreement
          </label>
          <!--<div class="g-recaptcha" data-sitekey="6LcFbgsUAAAAAIO3S82DPIl-P-8eRcZkiBonC_bC"><div style="width: 304px; height: 78px; margin: 15px 0px"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LcFbgsUAAAAAIO3S82DPIl-P-8eRcZkiBonC_bC&amp;co=aHR0cHM6Ly93d3cuY2VydGljb20uY29tOjQ0Mw..&amp;hl=en&amp;v=v1514934548259&amp;size=normal&amp;cb=48k1nsrkwkul" width="304" height="78" role="presentation" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea></div></div>-->
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascripts/side/dangky.js">
<% include ../footer.ejs%>
