<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DonHang</title>
    <% include header.ejs%>
</head>
<body >
<% include menu.ejs%>

<div class="container content">
  <div class="row">
      <%include menudoc.ejs%>
    <div class="col-sm-9 col-md-9 infor">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Đơn hàng</h3>
        </div>
        <div class="panel-body" style="margin: 15px 0px;">
          <table class="table">
            <thead>
            <tr>
              <th>Id chứng chỉ</th>
              <th>Ngày Tạo</th>
              <th>Tình trạng</th>
            </tr>
            </thead>
            <tbody>
            <% var date = new Date()%>
            <%for(var i =0;i<ca.length;i++){%>
            <tr>
              <td><%=ca[i].Identity%></td>
              <%date.setTime(ca[i].timeCreate)%>
              <td><%=date.toLocaleString()%></td>
              <td><%=ca[i].validate%></td>
              <td>
                <a href="/user/donhang/<%=ca[i].Identity%>">Xem chi tiết</a>
              </td>
            </tr>
            <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<footer>
    <% include ../footer.ejs%>
</footer>

<script>
      $('.list-group a').removeClass( "active" )
      $('.panel-collapse').removeClass( "in " )
      $('.donhang').addClass( "active" );
      $('.thongtin').addClass("in");
</script>

</body>
</html>