<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit</title>
    <% include header.ejs%>
  <link rel="stylesheet" href="/stylesheets/side/user/dangky.css">
  <link rel="stylesheet" href="/javascripts/bootrap-form-helper/css/bootstrap-formhelpers.min.css"></link>
  <script src="/javascripts/jquery.validate.min.js"></script>
  <script src="/javascripts/side/dangky.js"></script>
</head>
<body >
<% include menu.ejs%>

<div class="container content">
  <div class="row">
      <%include menudoc.ejs%>
    <div class="col-sm-9 col-md-9 infor">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Sửa thông tin</h3>
        </div>
        <h6 style="margin: 15px">
            <%if(error){%>
          <i><i style="color: red">*</i> <%= error%></i><br>
            <%}%>
          <i><i style="color: red">*</i> Items in <strong>bold</strong> are required fields.</i><br>
        </h6>
        <div class="panel-body" style="margin: 15px 0px;">
          <form action="" method="post" id="form-post" >
            <div class="form-group col-md-12">
              <label for="inputPassword">Password old</label>
              <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
            <div class=" row form-row" style="margin: 0px">
              <div class="form-group col-md-6">
                <label for="inputPassword">New Password</label>
                <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Password">
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword1">Verify Password</label>
                <input type="password" name="passwordVeri" class="form-control" id="inputPassword2" placeholder="Password">
              </div>
              <div class="form-group col-md-12" style="margin-bottom: 0px">
                <h6 style="color: #0a0a0a;margin-top: 0px">
                  <i>Mật khẩu tối thiểu 8 ký tự,1 chữ cái hoa,1 chữ cái thường,1 chữ số.</i>
                </h6>
              </div>
            <div class="form-group col-md-8">
              <button type="submit" class="btn btn-primary">Save</button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<footer>
    <% include ../footer.ejs%>
</footer>
<script>
    $('.list-group a').removeClass( "active" )
    $('.panel-collapse').removeClass( "in " )
    $('.doimk').addClass( "active" );
    $('.thongtin').addClass("in");
</script>
</body>
</html>